#Ignore-List
/obj
/bin
*.txt
*.md
*.config
/.gitattributes
MyProgram

FirstProgram/FirstProgram/bin
FirstProgram/FirstProgram/obj/Debug
FirstProgram/.vs

LinqLesson/LinqLesson/bin
LinqLesson/LinqLesson/obj
LinqLesson/LinqLesson/.vs

LinqLesson/.vs/LinqLesson/v15/Server/sqlite3/storage.ide-wal
LinqLesson/.vs/LinqLesson/v15/Server/sqlite3/storage.ide-shm
LinqLesson/.vs/LinqLesson/v15/Server/sqlite3/storage.ide
LinqLesson/.vs/LinqLesson/v15/Server/sqlite3/db.lock
